* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 2px solid red;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

.body-container {
  max-width: 1100px;
  height: 50vh;
  margin: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.main-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

ul {
  list-style-type: none;
}

.section-1 {
  background-color: #1f2937;
  height: 50vh;
}